
      .header {
        width: 100%;
        height: 6rem;
        background-color: #FFFFFF;
        margin: auto 0;
        padding: 0;                
      }          
   
     
      .header__wrapper {        
        width: 100%;
        height: 100%;
       
      }
     
      .socials {  
        margin-left: 25rem;              
        
      }
  
      .search_icon {
        float: right;   
        margin-right: -42rem;  
        margin-top: -2.5rem;
        width: 5rem;
      }

      .search_icon:hover {
        opacity: 0.5;
        cursor: pointer;
      }
      

      .glass_icon {
        float: right;   
        margin-right: -41.2rem;  
        margin-top: -2.1rem;
        width: 3rem;
      }

      .btn_wrapper {
        display: flex;        
        margin-top: -1.6rem;
        margin-left: 70rem;        
      }

       .logo_icon {
        float: left;   
        margin-left: 4rem;
        margin-top: -2rem;
        width: 15rem;
      }