

html {
    height: 100%;
}

/* Banner */

.page_body {
    width: 97%;
    height: 100%;
    margin: 0 auto;
    border-radius: 1.5rem;
    background-color: #FFFFFF;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

.banner_header {
    height: 20rem;
    padding-bottom: 2rem;
    background: linear-gradient(104.61deg, #FF00B8 2.65%, #FF655B 51.83%, #FFC700 100%);
    margin-top: 2rem;
}

.map{
    float: left; 
    width: 28%;   
    
}

.bulb{
    float: left; 
    width: 8%;   
    margin-top: 1.5rem; 
    margin-left: 2rem;
}

.hand{
    float: left; 
    width: 13%;  
    margin-top: 12rem; 
    margin-left: -6rem;    
}

.banner_text {
    float: right;
    margin-top: -16.5rem; 
    margin-right: 5rem;  
    margin-bottom: 1rem;
    color: #FFFFFF;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 3.5rem;
    width: 50%;    
}


.people {
    float: right;
    margin-top: 1rem; 
    margin-right: 3rem;  
    width: 25%;    
}

h2 {
    font-size: "Red Hat Display", "Sans Serif";
    padding-left: 2rem;
}

