

.cardBody {
    display: flex;    
    width: 22%;
    flex-grow: 1;
    justify-content: space-around;
    margin: 1rem;
    padding: 1rem;
    border-radius: 97px;
    background: linear-gradient(104.61deg, #FF00B8 2.65%, #FF655B 51.83%, #FFC700 100%);
}

.article {
    display: flex;    
    width: 22%;
    flex-grow: 1;
    justify-content: space-around;    
    margin: -.5rem;    
    border-radius: 97px;
    background: #FFFFFF;
    }

 .image {
     width: 8rem;
     margin: 0 auto;
 }   


h5 {
    margin-top: -2rem;
    float: right;
    font-family: "Red Hat Display";
    font-style: normal;
    font-weight: normal;
    font-size: .5rem;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #000000;
}

/* Learn and Give Buttons */

.btn_give {
    float:left;
    color: #FFFFFF;
    background: linear-gradient(104.61deg, #FF00B8 2.65%, #FF655B 51.83%, #FFC700 100%);
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 2rem;
    padding: .25rem 1.25rem .25rem 1.25rem;
    border: none;    
   
}
.btn_learn {
    float: right;
    color: #FFFFFF;
    background: linear-gradient(161.32deg, #FF00B8 3.86%, #151371 98.64%);    
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 2rem;
    padding: .25rem 1.25rem .25rem 1.25rem;
    border: none;       
            
}

.btn_learnTwo {    
    
    color: #FFFFFF;
    background: linear-gradient(161.32deg, #FF00B8 3.86%, #151371 98.64%);    
    font-family: 'Red Hat Display', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 2rem;    
    width: 80%;
    border: none;       
            
}
